:root {
	--background: #ffffff;
	--foreground: #171717;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}
@keyframes shake {
	0%,
	100% {
		transform: translateX(0);
	}
	10%,
	30%,
	50%,
	70%,
	90% {
		transform: translateX(-10px);
	}
	20%,
	40%,
	60%,
	80% {
		transform: translateX(10px);
	}
}

html,
body {
	max-width: 100vw;
	height: 100%;
	background: linear-gradient(135deg, #667eea 0%, #764ba2 25%, #f093fb 50%, #4facfe 75%, #00f2fe 100%);
	overflow-x: hidden;
}
@font-face {
	font-family: "DorianCLM";
	src: url("https://freefonts.co.il/css/fonts/dorianclm-book-webfont.woff") format("woff");
	font-weight: 600;
	font-style: normal;
}

body {
	color: var(--foreground);
	font-family: "DorianCLM";
	/* font-family: "Segoe UI", Tahoma, "Arial Hebrew", "Noto Sans Hebrew", sans-serif; */
	/* font-family: Arial, Helvetica, sans-serif; */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
}
